name: Build & Push Hosting Panel and API Images

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Docker Login
      uses: docker/login-action@v2
      with:
        registry: docker.io
        username: yeranosyanvahan
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push panel image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: docker.io/yeranosyanvahan/hostclick:latest

    - name: Build and push API image
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile.api
        push: true
        tags: docker.io/yeranosyanvahan/hostclick-api:latest

    - name: Build and push MCP Server
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile.mcp
        push: true
        tags: docker.io/yeranosyanvahan/basic-mcp-server:latest
